
/* !!! SMALLER SCREEN !!! */

@media (max-width: 1440px){

        .faq-submit .submit button{
            width: 35%;
        }

        #shows h1{
            margin-bottom: 0.25em;
            margin-top: 2rem;
        }

}

/* !!! SMALLER LAPTOP to before TABLET!!! */

@media (max-width: 1300px){

     .hero-content-text{
        padding-top: 0.5em;
    }

    .reasons{
    width: 80%;
    }

    .reason-cards{
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
    }

    .reason-title{
        font-size: 1rem;
    }

    .reason-cards h2{
    font-size: 1.5rem;
    }

    .reason-cards-container{
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
   }

   .show-cards-container{
    width: 83%;
    }
    
    #shows h1{
    margin-bottom: 0;
   }

   .tv-container{
    width: 80%;
    justify-content: space-between;
   }

   .tv-info{
    width: 40%;
   }

   .tv-video{
    width: 60%;
   }

   .tv-info h1{
    font-size: 2.5rem;
    }

    .tv-info h2{
    font-size: 1.5rem;
    }
    
    .faq-wrapper{
    width: 80%;
    }

     .faq-wrapper h2{
        font-size: 1.5125rem;
        font-weight: 600;
     }

     .faq-submit .submit{
    width: 80%;
    }

    .footer-wrapper{
    width: 80%;
    }

    .footer-container ul{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
/* !!! SMALLER !!! */

@media (max-width: 1160px){

    #hero{
        height: 75vh;
    }

    .hero-content{
        height: 80%;
    }

}

/* !!! TABLETS to before PHONE!!! */

@media (max-width: 885px){

     #hero{
        height: 55vh;
    }

    .hero-content{
        height: 50%;
    }

    #navbar{
        width: 97%;
        max-width: 97%;
}

    #navbar img{
    width: 89px;
    height: 25px;
}

    .hero-content-text{
        padding-top: 3em;
        width: 70%;
        justify-content: flex-start;
        height: 65%;
    }

    .curve-separator{
        padding-top: 3.125em; 
    }

    .hero-content-text h1{
        width: 75%;
        font-size: 2rem;
    }

    .hero-content-text h2{
        padding-top: 0.5em;
        padding-bottom: 0.25em;
        font-weight: 400;
        font-size: 1rem;
    }

    .submit{
        width: 100%;
    }

    .submit input{
        width: 60%;
    }

    .submit button{
        width: 40%;
        font-size: 1.25rem;
        font-weight: 600;
    }

/* ---MAIN--- */

main{
    margin-top: 2em;
}

/* ---MAIN--- */

.trending-title{
    font-size: 0.6rem;
    }

    #shows h1{
    margin-bottom: 0.2125em;
    margin-top: 0;
    }

    .show-cards-container{
    width: 95%;
    }

    .show-carousel{
        height: 200px;
        padding-left: 1.5em;
    }

    .show-cards{
    min-width: 120px;
    min-height: 180px;
    }

    .number{
    font-size: 4rem;
    }

    .tv-info h1{
    font-size: 1.25rem;
    }

    .tv-info h2{
    font-size: 1rem;
    }

    .tv-container{
    width: 90%;
    flex-direction: column;
}

.tv-info{
    width: 100%;
}

.tv-video{
    width: 100%;
}

.tv-video img{
    width: 100%;
}

.tv-video video{
    width: 75%;

    object-fit: cover;
    position: absolute;
    top: 20%;
    left: 13%;
    z-index: 0;
}

.tv-info h1{
    font-size: 2rem;
}

.tv-info h2{
    font-size: 1.25rem;
}

.reasons{
    width: 90%;
}

.reason-cards-container{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.reason-title h2{
    font-size: 1.25rem;
}

.info h2{
    font-size: 1.25rem;
}

    .reason-cards{
        min-height: 200px;
    }

    .reason-image svg{
    position: absolute;
    top: 60%;
    left: 75%;
}

.faq-wrapper{
    width: 90%; 
}

.faq-wrapper h2{
    font-size: 1.25rem;
}

.faq-summary{
    font-size: 1.25rem;
}

.faq-card > p{
    font-size: 1.125rem;
}

.faq-submit .submit{
    width: 100%;
    
}

.faq-submit .submit input{
    margin-left: 0;
}

.faq-submit .submit button{
    width: 30%;
}

.footer-wrapper{
    width: 90%;
}

.footer-container ul{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}    

}

/* ---PHONES AND LESS--- */

@media(max-width: 599px){

    #navbar{
        width: 99%;
        max-width: 99%;
}

    #hero{
        height: 80vh;
    }

    .hero-content{
        height: 50%;
    }

    .hero-content-text{
        padding-top: 1em;
        width: 90%;
        height: 60%;
    }

    .hero-content-text h1{
        width: 100%;
    }

    .hero-content-text .submit{
        flex-direction: column;
        width: 100%;
    }

    .hero-content-text .submit input{
        width: 100%;
        max-width: 100%;
    }

    .hero-content-text .submit button{
        width: 50%;
    }

    .curve-separator{
        bottom: 0;
    }
    

    .trending-title{
    font-size: 0.6rem;
    }

    #shows h1{
    margin-bottom: 0.2125em;
    margin-top: 0;
    }

    .show-cards-container{
    width: 100%;
    }

    .show-carousel{
        height: 200px;
        padding-left: 1.5em;
    }

    .show-cards{
    min-width: 120px;
    min-height: 180px;
    }

    .number{
    font-size: 4rem;
    }

    .tv-info h1{
    font-size: 1.25rem;
    }

    .tv-info h2{
    font-size: 1rem;
    }

    .reason-title h2{
    font-size: 1.125rem;
    }

    .info h2{
    font-size: 1.25rem;
    }

    .reason-cards{
        min-height: 210px;
        padding-top: 1.25em;
    }

    .info h3{
    font-size: 1rem;
    }

    .reason-image svg{
    position: absolute;
    top: 60%;
    left: 77%;
    width: 65px;
    }

    
    .faq-wrapper h2{
    font-size: 1.125rem;
    font-weight: 500;
    }

    .faq-summary{
    font-size: 1.125rem;
    padding: 1.5em;
    }

    .faq-submit .submit{
    width: 100%;
    
    }

    .faq-summary::after{
    font-size: 2.5rem;
    }

    details[open] .faq-summary::after{
    content: "✕";
    font-size: 1.5rem;
    }

    .faq-submit .submit{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .faq-submit .submit input{
    width: 100%;
    max-width: 100%;
    }

    .faq-submit .submit button{
    width: 50%;
    } 

    .reason-cards-container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   }

}

/* ---SMALL PHONES */

@media (max-width: 369px){
    #hero{
        height: 100vh;
    }

    .hero-content-text{
        justify-content: flex-start;
        width: 80%;
        height: 100%;
    }

    .hero-content-text h1{
        width: 100%;
    }

    .hero-content-text .submit{
        flex-direction: column;
        width: 100%;
    }

    .hero-content-text .submit input{
        height: 50px;
    }

    .hero-content-text .submit button{
        height: 50px;
        width: 60%;
    }

    .curve-separator{
        bottom: -5%;
    }
    
    .reason-image svg{
    top: 65%;
    left: 70%;
    }

}